.search {
  display: flex;
  width: 100%;
  background-color: white;
  gap: 15px;
}

.input {
  font-size: 28px;
  width: 100%;
  padding: 10px;
  border: 1px solid#f2f3f5;
  border-radius: 12px;
  outline: none;
}
